footer {
	border-top: 1px solid #bdbdbd;
	padding: 20px 0;
	background-color: #333;
	color: #FFF;
	margin-top: 10px;
	font-size: 12px;
}

footer .ftr-menu ul {
	list-style-type: none;
	margin: 0;
}

footer .ftr-menu li {
	float: left;
	margin-right: 10px;
}

footer .ftr-menu li a {
	color: #FFF;
}

footer .ftr-menu li a:hover {
	color: #D16823;
}
@media only screen and (max-width: 767px) {
	footer {
		padding: 10px 0;
	}

	footer .copyright,
	footer .ftr-menu {
		width: 100%;
		margin: 10px auto;
		float: none;
		clear: both;
	}

	footer .ftr-menu {
		width: fit-content;
	}
}
